.sidebarLogo {
  width: 151px;
  height: 24px;

  img {
    width: 100%;
    height: 24px;
  }
}

.sidebarLogo.collapsed {
  width: 24px;
  height: 24px;
  grid-template-columns: 24px;
  margin-left: auto;
  margin-right: auto;
}
