&[data-mantine-color-scheme='light'] {
  --step-container-bg: var(--regular-bg-1);
  --step-container-hover-bg: var(--regular-bg-2);
}

&[data-mantine-color-scheme='dark'] {
  --step-container-bg: var(--regular-bg-1);
  --step-container-hover-bg: var(--regular-bg-2);
}

.stepContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background-color: var(--step-container-bg);

  &:hover {
    background-color: var(--step-container-hover-bg);
  }

  @media (max-width: 578px) {
    padding: 12px;
  }
}

.badge {
  display: flex;
  flex-shrink: 0;
}
