.container {
  border-radius: var(--container-radius-1);
  background-color: var(--elevated-bg-1);
  padding: var(--padding-container-md);
  box-shadow: var(--elevated-box-shadow);

  @media (max-width: 568px) {
    padding: var(--padding-container-md-mobile);
  }
}
