:root {
    --button-default-border: var(--neutral-400);
}

.root {
    width: 100%;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    border-radius: 12px;
    border: 2px solid var(--button-default-border);
    background: var(--button-secondary-bg);
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
