:root {
  --drawer-bg: var(--elevated-bg-1);
  --drawer-border-radius: 28px;
  --drawer-border: 1px solid var(--regular-border-1);
  --drawer-close-btn-size-desktop: 44px;
  --drawer-close-btn-size-mobile: 32px;
  --drawer-close-btn-radius: 50%;
  --drawer-close-btn-bg: var(--button-secondary-bg);
  --drawer-close-btn-hover-bg: var(--regular-bg-4);
}

.content {
  background-color: var(--drawer-bg);
  padding: 0 28px 28px;
  border: var(--drawer-border);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 1000;

  @media (max-width: 568px) {
    padding: 0 20px 20px;
  }
}

.header {
  background-color: var(--drawer-bg);
  padding: 28px 0 0;
}

.body {
  padding: 0;
}

.close {
  width: var(--drawer-close-btn-size-desktop);
  height: var(--drawer-close-btn-size-desktop);
  border-radius: var(--drawer-close-btn-radius);
  background: var(--drawer-close-btn-bg);

  & > svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: var(--drawer-close-btn-hover-bg);
  }

  @media (max-width: 568px) {
    width: var(--drawer-close-btn-size-mobile);
    height: var(--drawer-close-btn-size-mobile);
  }
}
