&[data-mantine-color-scheme='light'] {
  --input-bkg: var(--blueish-50);
  --input-border: 1px solid var(--neutral-400);
  --input-border-focus: 1px solid var(--brand-300);
  --input-border-error: 1px solid var(--red-500);
  --input-label-color: var(--regular-primary-content);
}

&[data-mantine-color-scheme='dark'] {
  --input-bkg: var(--blueish-150);
  --input-border: 1px solid var(--neutral-400);
  --input-border-focus: 1px solid var(--brand-500);
  --input-border-error: 1px solid var(--red-500);
  --input-label-color: var(--regular-primary-content);
}

:root {
  --input-background-disabled: 0.4;
  --input-padding-lg: 16px;
  --input-padding-md: 12px 16px;
  --input-height-large: 52px;
  --input-height-medium: 44px;
  --input-font-size-xl: 14px;
  --input-font-size-lg: 14px;
  --input-font-size-md: 12px;
  --input-font-size-sm: 12px;
  --input-font-weight-xl: 500;
  --input-font-weight-lg: 500;
  --input-font-weight-md: 500;
  --input-font-weight-sm: 400;
  --input-border-radius: 12px;
  --input-height-xl: 52px;
  --input-height-lg: 52px;
  --input-height-md: 44px;
  --input-height-sm: 36px;
  --label-font-size-xl: 16px;
  --label-font-size-lg: 12px;
  --label-font-size-md: 12px;
  --label-font-size-sm: 12px;
  --label-font-weight: 700;
  --error-font-size: 12px;
  --error-color: var(--red-500);
}

.root:has(.input[data-disabled='true']) > .label {
  opacity: 0.4;
}

.wrapper {
  &[data-size='xl'] {
    --input-height-xl: 52px;
    .input {
      font-size: var(--input-font-size-lg);
      font-weight: var(--input-font-weight-lg);
    }
  }

  &[data-size='lg'] {
    --input-height-lg: 52px;
    .input {
      font-size: var(--input-font-size-lg);
      font-weight: var(--input-font-weight-lg);
    }
  }

  &[data-size='md'] {
    --input-height-md: 44px;
    .input {
      font-size: var(--input-font-size-md);
      font-weight: var(--input-font-weight-md);
    }
  }

  &[data-size='sm'] {
    --input-height-sm: 36px;
    .input {
      font-size: var(--input-font-size-sm);
      font-weight: var(--input-font-weight-sm);
    }
  }
}

.input {
  border-radius: var(--input-border-radius);
  border: var(--input-border);
  background-color: var(--input-bkg);
  color: var(--regular-primary-content);

  &[data-disabled] {
    background: var(--input-background);
    opacity: var(--input-background-disabled);
  }

  &[data-error='true'] {
    color: var(--neutral-900);
    border: var(--input-border-error);
  }
  &[data-error='true']:active {
    color: var(--neutral-100);
    border: var(--input-border-error);
  }

  &[data-variant='unstyled'] {
    background: none;
    border: none;
  }

  &:active,
  &:hover {
    border: var(--input-border-focus);
  }

  &:focus {
    border: var(--input-border-focus);
  }
}

.label {
  margin-bottom: 8px;
  color: var(--input-label-color);

  &[data-size='sm'] {
    font-size: var(--label-font-size-sm);
    font-weight: var(--label-font-weight);
  }

  &[data-size='md'] {
    font-size: var(--label-font-size-md);
    font-weight: var(--label-font-weight);
  }

  &[data-size='lg'] {
    font-size: var(--label-font-size-lg);
    font-weight: var(--input-font-weight-lg);
  }

  &[data-size='xl'] {
    font-size: var(--label-font-size-xl);
    font-weight: var(--input-font-weight-xl);
  }
}

.error {
  margin-top: 8px;
  font-size: var(--error-font-size);
  color: var(--error-color);
}
