[data-mantine-color-scheme='light'] {
  --radio-border-color-hover: var(--regular-border-4);
  --radio-icon-color: var(--regular-primary-content);
  --radio-icon-color-active: var(--white-content-default);
  --radio-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  --radio-active-background: var(--accent-default-content);
}

[data-mantine-color-scheme='dark'] {
  --radio-active-background: var(--accent-bg4);
  --radio-border-color-hover: var(--accent-border-4);
  --radio-icon-color: var(--regular-primary-content);
  --radio-icon-color-active: var(--white-content-default);
  --radio-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

:root {
  --radio-size-lg: 24px;
  --radio-size-md: 20px;

  --radio-icon-size-lg: 12px;
  --radio-icon-size-md: 10px;
  --radio-border-color-default: var(--regular-border-3);
  --radio-disabled-opacity: 0.4;
}

.root {
  .body {
    &:hover {
      .radio {
        border: 1px solid var(--radio-border-color-hover);
      }
    }
  }

  .inner {
    .icon {
      border-radius: 50%;
      box-shadow: var(--radio-box-shadow);
      color: var(--radio-icon-color-active);
    }
  }

  .labelWrapper,
  .label,
  .error,
  .description,
  .input,
  .inner,
  .body,
  .radio {
    cursor: pointer;
  }

  &[data-size='lg'] {
    .radio {
      background: none;
      border: 1px solid var(--radio-border-color-default);
      width: var(--radio-size-lg);
      height: var(--radio-size-lg);

      .label {
        color: var(--regular-tetriary-content);
      }
    }

    .inner {
      width: var(--radio-size-lg);
      height: var(--radio-size-lg);
    }

    .icon {
      width: var(--radio-icon-size-lg);
      height: var(--radio-icon-size-lg);
    }
  }

  &[data-size='md'] {
    .radio {
      background: none;
      border: 1px solid var(--radio-border-color-default);
      width: var(--radio-size-md);
      height: var(--radio-size-md);
    }
    .inner {
      width: var(--radio-size-md);
      height: var(--radio-size-md);
    }

    .icon {
      width: var(--radio-icon-size-md);
      height: var(--radio-icon-size-md);
    }
  }

  .radio {
    background: transparent;
    border: 1px solid var(--regular-border-3);
  }

  .radio:checked {
    background: var(--radio-active-background);
    border: none;
  }

  &[data-disabled='true'] {
    opacity: var(--radio-disabled-opacity);
  }

  &[data-checked='true'] {
    .label {
      color: var(--regular-primary-content) !important;
    }
  }

  &[data-checked='false'] {
    .label {
      color: var(--regular-tetriary-content) !important;
    }
  }
}
