/* Skeleton states */
.category--loading {
  &:hover {
    cursor: default;
  }
}

.category__title--loading {
  position: relative;
  overflow: hidden;
}

.category__title--loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--white-100, rgba(214, 214, 214, 0.2)) 30%,
    transparent 100%
  );
  z-index: 1;
  animation: loading-shimmer 3s infinite;
}

@keyframes loading-shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
